<div class="devsContainer">
  <div class="card">
    <img src="/img/pic_steeven.jpg">
    <div class="name">Stefano</div>
    <div>Site Reliability Engineer @ <a href="https://www.swisscom.ch/en/business.html" target="_blank">Swisscom</a>
    </div>
    <div>
      <a href="https://www.linkedin.com/in/stefano-taillefert" target="_blank">
        <img
          src="https://img.shields.io/badge/LinkedIn-informational?style=flat&amp;logo=linkedin&amp;logoColor=white&amp;color=0a66c2">
      </a>
      <a href="https://github.com/Steeven9" target="_blank">
        <img
          src="https://img.shields.io/badge/GitHub-informational?style=flat&amp;logo=github&amp;logoColor=white&amp;color=black">
      </a>
      <a href="https://steamcommunity.com/id/steeven9" target="_blank">
        <img
          src="https://img.shields.io/badge/Steam-informational?style=flat&amp;logo=steam&amp;logoColor=white&amp;color=253f6a">
      </a>
    </div>
  </div>

  <div class="card">
    <img src="/img/pic_fire.jpg">
    <div class="name">Sasha</div>
    <div>MSc Informatics student @ <a href="https://www.inf.usi.ch" target="_blank">USI</a></div>
    <div>
      <a href="https://www.linkedin.com/in/sasha-toscano-56a61721a" target="_blank">
        <img
          src="https://img.shields.io/badge/LinkedIn-informational?style=flat&amp;logo=linkedin&amp;logoColor=white&amp;color=0a66c2">
      </a>
      <a href="https://github.com/Fireblast9" target="_blank">
        <img
          src="https://img.shields.io/badge/GitHub-informational?style=flat&amp;logo=github&amp;logoColor=white&amp;color=black">
      </a>
      <a href="https://steamcommunity.com/profiles/76561198144378754" target="_blank">
        <img
          src="https://img.shields.io/badge/Steam-informational?style=flat&amp;logo=steam&amp;logoColor=white&amp;color=253f6a">
      </a>
    </div>
  </div>

  <div class="card">
    <img src="/img/pic_fra.jpg">
    <div class="name">Fra</div>
    <div>BSc Informatics student @ <a href="https://www.inf.usi.ch" target="_blank">USI</a></div>
    <div>
      <a href="https://www.linkedin.com/in/francesc-jordi-sacco-cremonesi" target="_blank">
        <img
          src="https://img.shields.io/badge/LinkedIn-informational?style=flat&amp;logo=linkedin&amp;logoColor=white&amp;color=0a66c2">
      </a>
      <a href="https://github.com/sccjrd" target="_blank">
        <img
          src="https://img.shields.io/badge/GitHub-informational?style=flat&amp;logo=github&amp;logoColor=white&amp;color=black">
      </a>
      <a href="https://steamcommunity.com/profiles/76561198359681235" target="_blank">
        <img
          src="https://img.shields.io/badge/Steam-informational?style=flat&amp;logo=steam&amp;logoColor=white&amp;color=253f6a">
      </a>
    </div>
  </div>

  <div class="card">
    <img src="/img/pic_brites.jpg">
    <div class="name">Andrea</div>
    <div>Software Engineer in Bioinformatics @ <a href="https://sib.swiss" target="_blank">SIB</a></div>
    <div>
      <a href="https://www.linkedin.com/in/andrea-brites-marto-8a804a158" target="_blank">
        <img
          src="https://img.shields.io/badge/LinkedIn-informational?style=flat&amp;logo=linkedin&amp;logoColor=white&amp;color=0a66c2">
      </a>
      <a href="https://github.com/britesma" target="_blank">
        <img
          src="https://img.shields.io/badge/GitHub-informational?style=flat&amp;logo=github&amp;logoColor=white&amp;color=black">
      </a>
      <a href="https://steamcommunity.com/profiles/76561198144979964" target="_blank">
        <img
          src="https://img.shields.io/badge/Steam-informational?style=flat&amp;logo=steam&amp;logoColor=white&amp;color=253f6a">
      </a>
    </div>
  </div>
</div>